$whiteColor: #ffffff;
$blackColor: #000000;

$bgdGradientFrom: #5041b2;
$bgdGradientTo: #7969e9;
$bgdGray: rgba(255,255,255,.2);
$darkGray: rgba(0, 0, 0, .3);
$bgdSuccess: rgba(161, 240, 69, .7);
$bgdError: rgba(240, 87, 108, .7);
$bgdPrimary: #2884f6;
$darkBlueLinks: #363f54;