@import "../../sass/variables";

.Quiz{
  display: flex;
  justify-content: center;
  flex-grow: 1;

  padding-top: 100px;
  width: 100%;

  background: linear-gradient(90deg, $bgdGradientFrom 0%, $bgdGradientTo 100%);

  &__wrapper{
    width: 600px;

    & h1{
      color: $whiteColor;
      margin-left: 10px;
    }
  }
}